.events__list {
  display: grid;
  margin-bottom: 20px;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

@media screen and (max-width: 1024px) {
  .events__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 520px) {
  .events__list {
    grid-template-columns: repeat(1, 1fr);
  }
}