.editNews__title {
  padding: 5px 10px;
  width: 100%;
  margin-bottom: 15px;
  box-sizing: border-box;
}

.editNews__content {
  width: 100%;
  padding: 5px 10px;
  min-height: 400px;
  box-sizing: border-box;
}

.editNews__save {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px 10px;
}