.modal {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}

.modal.modal_active {
  pointer-events: all;
  opacity: 1;
}

.modal__content {
  display: flex;
  max-width: 300px;
  width: 100%;
  gap: 10px;
  flex-direction: column;
  padding: 20px;
  border-radius: 15px;
  background-color: white;
}

.modal__input {
  padding: 5px 10px;
}

.modal__button {
  padding: 5px 10px;
}