.directory__search {
  width: 80%;
  padding: 10px 15px;
  border: 1px solid #cdcdcd;
  border-right: none;
  border-radius: 5px 0 0 5px;
  font-size: 18px;
}

.directory__button {
  width: 20%;
  padding: 10px 15px;
  border: 1px solid #cdcdcd;
  border-radius: 0 5px 5px 0;
  font-size: 18px
}

.directory__input {
  width: 80%;
  margin: 0 auto;
  display: flex;
}

.directory__radio {
  width: 80%;
  margin: 20px auto 0;
}

.directory__radio input {
  margin-right: 10px;
}

.directory__radio label {
  margin-right: 20px;
}

@media screen and (max-width: 768px) {
  .directory__search {
    font-size: 16px;
    padding: 5px 10px;
  }
  
  .directory__button {
    font-size: 16px;
    padding: 5px 10px;
  }

  .directory__search {
    width: 70%;
  }
  
  .directory__button {
    width: 30%;
  }
}